<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ecd53ef63689466c8abc4f392bbe7ef4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ecd53ef63689466c8abc4f392bbe7ef4" ></div>
        
</body>
<script>    
    
            var map_ecd53ef63689466c8abc4f392bbe7ef4 = L.map(
                "map_ecd53ef63689466c8abc4f392bbe7ef4",
                {
                    center: [55.558741, 37.378847],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ca9350d2df004a1082b5925ae9a1c4ce = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ecd53ef63689466c8abc4f392bbe7ef4);
        
    
            var marker_409b10ddc6704f41bfd67d6920d16afb = L.marker(
                [59.940571250000005, 30.3137775],
                {}
            ).addTo(map_ecd53ef63689466c8abc4f392bbe7ef4);
        
    
            var icon_9b76af8f519a4beb940d0568a4f54043 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_409b10ddc6704f41bfd67d6920d16afb.setIcon(icon_9b76af8f519a4beb940d0568a4f54043);
        
    
        var popup_574611fcbd6b40f9ba0f3a5b0bdaac40 = L.popup({"maxWidth": "100%"});

        
            var html_33e31668a7b34bd7a21f2219b1bfda30 = $(`<div id="html_33e31668a7b34bd7a21f2219b1bfda30" style="width: 100.0%; height: 100.0%;">         Имя: koritsee               Категория: Нашел(а)              Питомец: Кошка          Телефон: +79224567863         Доп. инф.: Комментарий         Место: Государственный Эрмитаж, Санкт-Петербург, Россия         </div>`)[0];
            popup_574611fcbd6b40f9ba0f3a5b0bdaac40.setContent(html_33e31668a7b34bd7a21f2219b1bfda30);
        

        marker_409b10ddc6704f41bfd67d6920d16afb.bindPopup(popup_574611fcbd6b40f9ba0f3a5b0bdaac40)
        ;

        
    
    
            var marker_7e0062adb75848569d18555f4fef4aa4 = L.marker(
                [55.7528382, 37.6234718],
                {}
            ).addTo(map_ecd53ef63689466c8abc4f392bbe7ef4);
        
    
            var icon_772d5ca16a1a45448303ed25b4f60028 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_7e0062adb75848569d18555f4fef4aa4.setIcon(icon_772d5ca16a1a45448303ed25b4f60028);
        
    
        var popup_d77f8f709d0d48988cf484129332279d = L.popup({"maxWidth": "100%"});

        
            var html_190e89f08cfd4c29b517bc287d4716d1 = $(`<div id="html_190e89f08cfd4c29b517bc287d4716d1" style="width: 100.0%; height: 100.0%;">         Имя: koritsee               Категория: Нашел(а)              Питомец: Кошка          Телефон: +79224567863         Доп. инф.: Комментарий         Место: Красная площадь, Москва, Россия         </div>`)[0];
            popup_d77f8f709d0d48988cf484129332279d.setContent(html_190e89f08cfd4c29b517bc287d4716d1);
        

        marker_7e0062adb75848569d18555f4fef4aa4.bindPopup(popup_d77f8f709d0d48988cf484129332279d)
        ;

        
    
</script>